* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    background-color: #222831;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box {
    background-color: #EEEEEE;
    padding: 30px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.box h2 {
    margin-bottom: 15px;
    text-align: center;
    font-size: 26px;
    color: #393E46;
}
input {
    padding: 20px;
    height: 50px;
    width: 400px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    font-size: 20px;
}
input:placeholder {
    font-size: 20px;
}
input:focus-visible {
    outline: none;
}
#button {
    font-size: 20px;
    margin-top: 25px;
    width: 155px;
    height: 50px;
    text-align: center;
    background-color: #00ADB5;
    color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    transition: ease 0.2s;
}
#button:hover {
    background-color: #393E46;
    transition: ease 0.2s;
}